.primaryBtn {
  background: black;
  border: 2px solid white;
  color: white;
  font-size: 1.25rem;
  height: 44px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.15s ease-in-out;
}

.primaryBtn:hover {
  background: white;
  color: black;
}

.primaryBtn:disabled {
  border: 2px solid #6f6f6f;
  background: black;
  color: #c7c7c7;
}

button:disabled {
  color: #c7c7c7;
}

button:disabled:hover {
  color: #c7c7c7;
}

.secondaryBtn {
  background: white;
  border: none;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.15s ease-in-out;
}
.secondaryBtn:hover {
  color: rgb(47, 47, 47);
}
.secondaryBtn:disabled {
  color: rgb(164, 164, 164);
  background: #6f6f6f;
}
.secondaryBtn:disabled:hover {
  color: #bbbbbb;
}
