.primaryBtn {
  background: black;
  border: 2px solid white;
  color: white;
  font-size: 1.25rem;
  height: 44px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.15s ease-in-out;
}

.primaryBtn:hover {
  background: white;
  color: black;
}

.primaryBtn:disabled {
  border: 2px solid #6f6f6f;
  background: black;
  color: #c7c7c7;
}

button:disabled {
  color: #6f6f6f;
}

button:disabled:hover {
  color: #6f6f6f;
}
